.list {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 100px;
}

.lists {
  text-align: center;
  display: block;
  /* 줄 높이 조정 */
  line-height: 1.5;
  font-size: 23px;
  color: antiquewhite;
}

.list_img {
  width: 300px;
  height: 300px;
  display: block;
  margin: 7vh 3vh;
  margin-bottom: 10px;
}

.activity {
  /* 한 줄로 이루어지게 끔 하기 위해 -> inline-flex 사용  */
  display: inline-flex;
  margin-top: 30px;
}
